<template name="admin_policiesdetail">
        {{#if currentUser}}
            {{#if isInRole 'admin'}}
                {{>adminnavbar}}
            <div class="container">
                <br>
                <br>
                <br>
                <table class="table table-striped admin_policiesdetailtable">
                    <thead>
                    <tr>
                        <th colspan="2">Edit Policy</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" placeholder="name" id="name" value="{{name}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><textarea placeholder="description" id="description" class="form-control">{{description}}</textarea></td>
                    </tr>
                    <tr>
                        <th>Services
                            {{#if aviableservice}}
                                <a href="#" class="btn btn-primary" id="addservices">Add services</a>
                            {{/if}}
                            <div class="modal fade" id="servicesmodal">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">Add Services</h4>
                                        </div>

                                        <div class="modal-body">
                                            <table border="0">
                                                {{#each aviableservice}}
                                                    <tr>
                                                        <td><label for="name">{{this.name}} ({{this.membrane}})</label></td>
                                                        <td><input type="checkbox" class="serviceoptions" value="{{this._id}}"/></td>
                                                    </tr>
                                                {{/each}}
                                            </table>



                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="addserv">Add</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div></th>
                        <td>
                            <table>
                                {{#each service}}
                                    <tr><td width="250px">{{this.name}} ({{this.membrane}})</td><td><button value="{{this._id}}"  class="btn btn-danger min" data-toggle="tooltip" title="Remove service"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>
                                {{/each}}
                            </table>
                        </td>


                    </tr>
                    <tr>
                        <th>Access
                            <br>
                            {{#if unauthenticated}}
                                <input type="checkbox" name="unauthenticated" value="true"  class="unauthenticated" checked> unauthenticated <br>
                            {{else}}
                                <input type="checkbox" name="unauthenticated" value="true"  class="unauthenticated" > unauthenticated <br>
                                {{#if aviablegroups}}
                                    <a href="#" class="btn btn-primary" id="addgroups">Add groups</a>
                                {{/if}}
                            {{/if}}
                            <div class="modal fade" id="groupsmodal">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">Add groups</h4>
                                        </div>

                                        <div class="modal-body">
                                            <table border="0">
                                                {{#each aviablegroups}}
                                                    <tr>
                                                        <td><label for="name">{{this.name}}</label></td>
                                                        <td><input type="checkbox" class="groupotions" value="{{this._id}}"/></td>
                                                    </tr>
                                                {{/each}}
                                            </table>



                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="addgrp">Add</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </th>
                        <td>
                            <table>
                                {{#each groups}}
                                    <tr><td width="250px">{{this.name}} </td><td><button value="{{this._id}}" class="btn btn-danger gmin" data-toggle="tooltip" title="Remove group"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>
                                {{/each}}
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <th>Rate Limit</th>
                        <td>
                            <input type="number" name="rateLimitRequests" id="rateLimitRequests" placeholder="Requests" value="{{rateLimitRequests}}" > /
                            <input type="number" id="rateLimitInterval" name="rateLimitInterval" placeholder="Interval in seconds" value="{{rateLimitInterval}}" >
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="60=1 minute, 3600=1 hour, 86400=1 day">
                                ?
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <th>Quota</th>
                        <td>
                            <input type="text" name="QuotaSize" id="QuotaSize" placeholder="Size (e.g. 1M)" value="{{QuotaSize}}" >
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="1B= 1 byte, 1K=1 kilobyte, 1M=1 megabyte, 1G=1 gigabyte, 1T=1 terabyte">
                                ?
                            </button>/
                            <input type="number" id="QuotaInterval" name="QuotaInterval" placeholder="Interval in seconds" value="{{QuotaInterval}}" >
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="60=1 minute, 3600=1 hour, 86400=1 day">
                                ?
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>Expiration</th>
                        <td><input type="radio" value="never" name="expires" class="expires" checked id="neverexp">Never <br>
                            <input type="radio" value="after" name="expires" class="expires" id="afterexp">After <input type="number" id="expiresT">
                            <select id="expiresS">
                                <option value="H">Hours</option>
                                <option value="D">Days</option>
                                <option value="M">Months</option>
                                <option value="Y">Years</option>
                            </select> </td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button id="save" class="btn btn-primary">save</button></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            {{else}}
                {{>usernavbar}}
                {{>userrestricted}}
            {{/if}}
        {{else}}
            {{>usernotloggedin}}
        {{/if}}
</template>