<template name="admin_policiesnew">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
            {{>adminnavbar}}
        <div class="container">
            <br>
            <div class="alert alert-success hidden">&gt; saved</div>
            <br>
            <br>
            <table class="table table-striped admin_policiesnewtable">
                <thead>
                <tr>
                    <th colspan="2">New Policy</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Name</th>
                    <td><input type="text" placeholder="name" id="name"></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>
                        {{#if markdownhint}}
                            <div class="alert alert-info alert-dismissible">
                                You can use <a href="https://en.wikipedia.org/wiki/Markdown" style="text-decoration: underline;" target="_blank">Markdown</a>  in the description.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        {{/if}}
                        <textarea placeholder="description" id="description"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>Services <br>
                        {{#if aviableservice}}
                            <a href="#" class="btn btn-primary" id="addservices">Add services</a>
                        {{/if}}
                        <div class="modal fade" id="servicesmodal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Add Services</h4>
                                    </div>

                                    <div class="modal-body">
                                        <table border="0">
                                            {{#each aviableservice}}
                                                <tr>
                                                    <td><label for="name">{{this.name}} ({{this.membrane}})</label></td>
                                                    <td><input type="checkbox" class="serviceoptions" value="{{this._id}}"/></td>
                                                </tr>
                                            {{/each}}
                                        </table>



                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="addserv">Add</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th>
                    <td>
                        <table>
                            {{#each service}}
                                <tr><td width="250px">{{this.name}} ({{this.membrane}})</td><td><button value="{{this._id}}" id="min" class="btn btn-danger" data-toggle="tooltip" title="Remove service"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>
                            {{/each}}
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Access
                        <br>

                        {{#if unauthenticated}}
                            <input type="checkbox" name="unauthenticated" value="true"  class="unauthenticated" checked> unauthenticated <br>
                        {{else}}
                            <input type="checkbox" name="unauthenticated" value="true"  class="unauthenticated" > unauthenticated <br>
                            {{#if aviablegroups}}
                                <a href="#" class="btn btn-primary" id="addgroups">Add groups</a>
                            {{/if}}
                        {{/if}}
                        <div class="modal fade" id="groupsmodal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Add groups</h4>
                                    </div>

                                    <div class="modal-body">
                                        <table border="0">
                                            {{#each aviablegroups}}
                                                <tr>
                                                    <td><label for="name">{{this.name}}</label></td>
                                                    <td><input type="checkbox" class="groupotions" value="{{this._id}}"/></td>
                                                </tr>
                                            {{/each}}
                                        </table>



                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="addgrp">Add</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </th>
                    <td>
                        <table>
                            {{#each groups}}
                                <tr><td width="250px">{{this.name}} </td><td><button id="gmin" value="{{this._id}}" class="btn btn-danger" data-toggle="tooltip" title="Remove group"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td></tr>
                            {{/each}}
                        </table>
                    </td>

                </tr>
                <tr>
                    <th>Rate Limit</th>
                    <td>
                        <input type="number" name="rateLimitRequests" id="rateLimitRequests" placeholder="Requests"> /  <input type="number" id="rateLimitInterval" name="rateLimitInterval" placeholder="Interval in seconds">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="60=1 minute, 3600=1 hour, 86400=1 day">
                            ?
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Quota</th>
                    <td>
                        <input type="text" name="QuotaSize" id="QuotaSize" placeholder="Size (e.g. 1M)">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="1B= 1 byte, 1K=1 kilobyte, 1M=1 megabyte, 1G=1 gigabyte, 1T=1 terabyte">
                            ?
                        </button>
                        /  <input type="number" id="QuotaInterval" name="QuotaInterval" placeholder="Interval in seconds">
                        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="60=1 minute, 3600=1 hour, 86400=1 day">
                            ?
                        </button>
                    </td>
                </tr>
                {{#if unauthenticated}}
                {{else}}
                    <tr>
                        <th>Expiration</th>
                        <td><input type="radio" value="never" name="expires" class="expires" checked>Never <br>
                            <input type="radio" value="after" name="expires" class="expires">After <input type="number" id="expiresT">
                            <select id="expiresS">
                                <option value="H">Hours</option>
                                <option value="D">Days</option>
                                <option value="M">Months</option>
                                <option value="Y">Years</option>
                            </select> </td>
                    </tr>
                {{/if}}
                <tr>
                    <td colspan="2"> <button id="save" class="btn btn-primary">save</button><button id="reset" class="btn btn-warning">reset</button></td>
                </tr>
                </tbody>
            </table>
            </div>
        {{else}}
            {{>usernavbar}}
            {{>userrestricted}}
        {{/if}}
    {{else}}
        {{>usernotloggedin}}
    {{/if}}
</template>