<template name="admin_userdetail">
    {{#if currentUser}}
        {{#if isInRole 'admin'}}
            {{>adminnavbar}}
            <div class="container">
                <div class="alert alert-info">
                    Hover over the fields to change them.
                </div>
                <table class="table table-striped" style="width: 100%;">
                    <tbody>
                    <tr>
                        <th style="width: 50%;">
                            Firstname
                        </th>
                        <td>
                            <div id="firstname">{{firstname}}</div>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 50%;">
                            Surname
                        </th>
                        <td>
                            <div id="surname">{{surname}}</div>
                        </td>

                    </tr>
                    <tr>
                        <th style="width: 50%;">
                            Email
                        </th>
                        <td>
                            <div id="mail">{{email}}</div>
                        </td>,
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            Roles
                        </td>
                        <td>
                            <table>
                                {{#each roles}}
                                    <tr>
                                        <td>
                                            {{this}}
                                        </td>
                                        <td>
                                            <button value="{{this}}" class="btn btn-danger gmin" data-toggle="tooltip" title="Remove group">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true">

                                            </span>
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </table>
                                {{#if groups}}
                                    <a href="#" class="btn btn-primary" id="addgroups">Add groups</a>
                                {{/if}}
                                <div class="modal fade" id="groupsmodal">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h4 class="modal-title">Add groups</h4>
                                            </div>

                                            <div class="modal-body">
                                                <table border="0">
                                                    {{#each groups}}
                                                        <tr>
                                                            <td><label for="name">{{this.name}}</label></td>
                                                            <td><input type="checkbox" class="groupotions" value="{{this.name}}"/></td>
                                                        </tr>
                                                    {{/each}}
                                                </table>



                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" id="addgrp">Add</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                        </td>
                    </tr>
                    <tr>
                        <th style="width: 50%;">Status</th>
                        <td>
                            <select id="options">
                                <option value="approved" class="opt">approved</option>
                                <option value="unapproved" class="opt">unapproved</option>
                                <option value="rejected" class="opt">rejected</option>
                                <option value="deactivated" class="opt">deactivated</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 50%;">
                            Password
                        </th>
                        <td>
                            <input type="password" id="pw" placeholder="password" value="">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="button" value="save" class="btn btn-primary" id="save">
            </div>
        {{else}}
            {{>usernavbar}}
            {{>userrestricted}}
        {{/if}}
    {{else}}
        {{>usernotloggedin}}
    {{/if}}
</template>