#loginbuttons{
    vertical-align: middle;
    align: center;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    width: 30em;
    vertical-align: middle;
    align: center;
    margin-left: auto;
    margin-right: auto;
}